@font-face {
  font-family: 'raleway--bold-italic';
  src: url('fonts/raleway-bolditalic-webfont.woff2') format('woff2'),
       url('fonts/raleway-bolditalic-webfont.woff') format('woff'),
       url('fonts/raleway-bolditalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
