@font-face {
  font-family: 'raleway--thin-italic';
  src: url('fonts/raleway-thinitalic-webfont.woff2') format('woff2'),
       url('fonts/raleway-thinitalic-webfont.woff') format('woff'),
       url('fonts/raleway-thinitalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
