@font-face {
  font-family: 'raleway--semibold-italic';
  src: url('fonts/raleway-semibolditalic-webfont.woff2') format('woff2'),
       url('fonts/raleway-semibolditalic-webfont.woff') format('woff'),
       url('fonts/raleway-semibolditalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
